<div class = "logo-grid">
<a id="home" href="/">
	<img id="loginlogo" class = "desktop" src="/images/loginLogo.png">
	<img class = "login-logo mobile" src = "images/loginLogo_small.png">
</a>

<h1 id = "welcome-user-message">{{'Welcome. ' + user.userName}}</h1>

<!-- <div class="first-bar">
	<div class="logout-btn desktop">
		<a id="logout" href="/auth/logout" class="btn">Logout</a>
	</div>
</div> -->
</div>

<div class="ul-wrapper">
	<ul>
		<li class="li-wrapper">
			<a id="devices" class="a-wrapper desktop" href="/devices">Devices</a>
			<a href = "/devices"><img id = "menu-icon" class = "icon-img mobile" src="images/icons/menu.svg"></a>
		</li>
		<li class="li-wrapper">
			<a id="monitoring" class="a-wrapper desktop" href="/monitoring">Monitoring</a>
			<a href="/monitoring"><img id = "devices-icon" class = "icon-img mobile" src="images/icons/devices.svg"></a>
		</li>
		<li class="li-wrapper">
			<a id="settings" class="a-wrapper desktop" href="/settings">Settings</a>
			<a href="/settings"><img id = "settings-icon" class = "icon-img mobile" src="images/icons/settings.svg"></a>
		</li>
		<li class="li-wrapper">
			<a id ="logout" class="a-wrapper desktop" href="/auth/logout">Logout</a>
			<a href="/auth/logout"><img id = "logout-icon" class = "icon-img mobile" src="images/icons/logout.svg"></a>
		</li>
	</ul>
</div>
<!-- <hr> -->